/**
*
* This document contains the main styles for the For The Church National Conference Landing Page.
*
/*
Name: For The Church National Conference
Author: Tim Stone
Author URI: http://tjstone.me
Description: This theme is developed for the 2021 landing page for the afformentioned conference.
Version: 1.07
License: Private use
Text Domain: For The Church
*
*/

/* --------- Contents --------- */

/*
*
* - 1.0 Text Formatting
* - - 1.1 Main text styles
* - - 1.2 Text Elements
* - 2.0 Div Formatting
* - - 2.1 Main Div styles
* - - - 2.1.1 Speakers Overlay Styles
* - - - 2.1.2 Speakers Modal Styles
* - - - 2.1.3 Schedule Toggle Styles
* - - 2.2 Containers
* - - 2.3 Top Nav
* - 3.0 Media Queries
* - - 3.1 Large Laptops
* - - 3.2 Small Laptops/Large Tablets
* - - 3.3 Tablets
* - - 3.4 Large phones
* - - 3.5 Standard phones
* - - 3.6 Small phones
*
*/

/* --------- --- --- 1.0 Text Formatting --- --- --------- */

/* --- --- --- 1.1 Main Text Styles --- --- ---*/

body {
  font-family: 'Nunito Sans', sans-serif !important;
}
.hero-heading {
    color: #fff;
    font-size: 25px;
    margin: 0px;
}
.hero-subtitle {
    color: #b88d2d;
    font-size: 14px;
}
.hero-hash {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    margin: 0px 0px 5px 20px;
    position: relative;
    top: -5px;
}
.gold-header {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  color: #b88d2d;
  text-transform: uppercase;
}
.white-font {
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.speaker-name {
  display:none;
}
.speaker-name-last {
  display:none;
}
.black-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 600;
  padding: 15px;
}
.schedule-header {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
  margin: 0px;
}
.schedule-subtitle {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  margin: 0px;
}
.schedule-inner-header {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: left;
  color: #b88d2d;
  text-transform: uppercase;
}
.schedule-container li {
  list-style-type: none;
}
.white-header {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 0px;
  padding: 50px;
}
.price {
  font-size: 35px;
  letter-spacing: 0px;
}
.registration-subtitle {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
}
.registration-secondary {
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  font-weight: 100;
  text-align: center;
  letter-spacing: 1px;
  margin: 0px;
}
.dollar {
  font-size: 22px;
}
.footer-container .white-header {
  padding: 60px 0px;
}

/* --- --- --- 1.2 Text Elements --- --- ---*/

.gold-button {
  color: #b88d2d;
  border: 1px solid #b88d2d;
  padding: 15px 10px;
  font-size: 20px;
  margin: auto;
  display: block;
  text-align: center;
  font-weight: 600;
  max-width: 25%;
  text-decoration: none;
}
.gold-button:hover {
  color: #ecb230;
  border: 1px solid #ecb230;
}

/* --------- --- --- 2.0 Div Formatting --- --- --------- */

/* --- --- --- 2.1 Main Div Styles --- --- ---*/

.main-hero {
    background-image: url('../../images/banners/main-hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.hero-logo {
    margin: auto;
    display: block;
    max-width: 35%;
    padding: 20vh;
}
.hero-row {
    display: block;
    padding: 50px;
}
.hero-left {
    display: inline-block;
    float: left;
}
.hero-right {
    display: inline-block;
    float: right;
}
.hero-right ul {
    display: inline-block;
    padding-top: 25px;
}
.hero-right li {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
}
.hero-right li img {
    max-width: 20px;
}
.hero-right li:last-child img {
    max-width: 25px;
}
.image-box {
  display: inline-block;
  margin: -3px;
  max-width: 16.77vw;
}
.speaker-imgs {
  max-width: 100%;
}
.schedule-item {
  display: inline-block;
  min-width: 17%;
  background-color: #bbbbbb;
  padding: 15px 15px;
  margin: -1px;
}
.registration-img {
  display: block;
  margin: auto;
  max-width: 70%;
  padding: 100px;
}

/* --- --- --- 2.1.1 Speaker Overlay Styles --- --- ---*/

.speaker-overlay {
  min-height: 19vw;
  min-width: 17vw;
  background-size: cover;
  overflow: hidden;
}
.greear {
  background-image: url("../../images/speakers/greear.jpg");
}
.greear:hover {
  background: url("../../images/speakers/greear.jpg"), #003a5d75;
  background-blend-mode: overlay;
  background-size: cover;
  max-height: 19vw;
  max-width: 17vw;
  cursor: pointer;
}
.greear:hover .speaker-name {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 6px;
  text-align: center !important;
  text-transform: uppercase;
  padding: 80% 10% 0% 15%;
  display: block;
}
.greear:hover .speaker-name-last {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 6px;
  text-align: center !important;
  text-transform: uppercase;
  padding: 0% 10% 0% 15%;
  margin: 0px;
  display: block;
}
.loritts {
  background-image: url("../../images/speakers/loritts.jpg");
}
.loritts:hover {
  background: url("../../images/speakers/loritts.jpg"), #003a5d75;
  background-blend-mode: overlay;
  background-size: cover;
  max-height: 19vw;
  max-width: 17vw;
  cursor: pointer;
}
.loritts:hover .speaker-name {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 6px;
  text-align: center !important;
  text-transform: uppercase;
  padding: 80% 10% 0% 15%;
  display: block;
}
.loritts:hover .speaker-name-last {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 6px;
  text-align: center !important;
  text-transform: uppercase;
  padding: 0% 10% 0% 15%;
  margin: 0px;
  display: block;
}
.merida {
  background-image: url("../../images/speakers/merida.jpg");
}
.merida:hover {
  background: url("../../images/speakers/merida.jpg"), #003a5d75;
  background-blend-mode: overlay;
  background-size: cover;
  max-height: 19vw;
  max-width: 17vw;
  cursor: pointer;
}
.merida:hover .speaker-name {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 6px;
  text-align: center !important;
  text-transform: uppercase;
  padding: 80% 10% 0% 15%;
  display: block;
}
.merida:hover .speaker-name-last {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 6px;
  text-align: center !important;
  text-transform: uppercase;
  padding: 0% 10% 0% 15%;
  margin: 0px;
  display: block;
}
.allen {
  background-image: url("../../images/speakers/allen.jpg");
}
.allen:hover {
  background: url("../../images/speakers/allen.jpg"), #003a5d75;
  background-blend-mode: overlay;
  background-size: cover;
  max-height: 19vw;
  max-width: 17vw;
  cursor: pointer;
}
.allen:hover .speaker-name {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 23px;
  text-align: center !important;
  text-transform: uppercase;
  padding: 80% 10% 0% 15%;
  margin: 0px;
  display: block;
}
.allen:hover .speaker-name-last {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 23px;
  text-align: center !important;
  text-transform: uppercase;
  padding: 0% 10% 0% 15%;
  margin: 0px;
  display: block;
}
.strachan {
  background-image: url("../../images/speakers/strachan.jpg");
}
.strachan:hover {
  background: url("../../images/speakers/strachan.jpg"), #003a5d75;
  background-blend-mode: overlay;
  background-size: cover;
  max-height: 19vw;
  max-width: 17vw;
  cursor: pointer;
}
.strachan:hover .speaker-name {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 6px;
  text-align: center !important;
  text-transform: uppercase;
  padding: 80% 10% 0% 15%;
  display: block;
}
.strachan:hover .speaker-name-last {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 6px;
  text-align: center !important;
  text-transform: uppercase;
  padding: 0% 10% 0% 15%;
  margin: 0px;
  display: block;
}
.wilson {
  background-image: url("../../images/speakers/wilson.jpg");
}
.wilson:hover {
  background: url("../../images/speakers/wilson.jpg"), #003a5d75;
  background-blend-mode: overlay;
  background-size: cover;
  max-height: 19vw;
  max-width: 17vw;
  cursor: pointer;
}
.wilson:hover .speaker-name {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 6px;
  text-align: center !important;
  text-transform: uppercase;
  padding: 80% 10% 0% 15%;
  display: block;
}
.wilson:hover .speaker-name-last {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 6px;
  text-align: center !important;
  text-transform: uppercase;
  padding: 0% 10% 0% 15%;
  margin: 0px;
  display: block;
}

/* --- --- --- 2.1.2 Speaker Modal Styles --- --- --- */

.speakers-description-greear, .speakers-description-loritts, .speakers-description-merida, .speakers-description-allen, .speakers-description-strachan, .speakers-description-wilson {
  min-width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #282828cf;
  z-index: 99999;
  pointer-events: auto;
  display:none;
  overflow-y:auto;
  -webkit-overflow-scrolling: touch;
}
.speakers-description-greear .description-container, .speakers-description-loritts .description-container, .speakers-description-merida .description-container, .speakers-description-allen .description-container, .speakers-description-strachan .description-container, .speakers-description-wilson .description-container {
  max-width: 100%;
  position: relative;
  top: 10px;
  margin: 5% 10%;
  padding: 5px 20px 13px 20px;
  box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
  display: block;
  pointer-events: auto;
}
.top-section {
  float: right;
  display: block;
}
.close-img {
  border: none;
  cursor: pointer;
}
.close-img {
  margin-top: 25px;
  max-width: 60%;
}
.main-content {
  display: block;
  padding: 10% 25%;
}
.name {
  color: #fff;
}
.description {
  color: #fff;
}

/* --- --- --- 2.1.3 Schedule Toggle Styles --- --- --- */

#day-1, #day-2, #day-3 {
    cursor: pointer;
}
.active-schedule {
    background-color: #272727;
}
.schedule-container-1, .schedule-container-2, .schedule-container-3 {
    display: none;
}

/* --- --- --- 2.2 Containers --- --- ---*/

.wrapper {
    width: 100vw;
    padding: 0;
}

.nav-container {
    min-width: 100vw;
    max-height: 5%;
    background-color: transparent;
    position: absolute;
}
.logo-container {
    display: inline-block;
}
.blue-container {
  background-color: #003a5d;
}
.center-container {
  padding: 100px 0px;
  display: block;
  margin: auto;
  max-width: 40%;
}
.center-container-full {
  padding: 100px 0px;
  display: block;
  margin: auto;
  max-width: 75%;
}
.speakers-container {
  margin-bottom: -10px;
}
.gray-container {
  background-color: #e0e0e0;
}
.schedule-content-container {
  background-color: #fff;
  padding: 100px 0px 150px 150px;
}
.registration-container {
  background-image: url('../../images/banners/registration.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.footer-container {
  background-color: #645c59;
}
.columns {
  padding: 0px;
}
.col-3 {
  display: inline-block;
  margin: auto;
  min-width: 30%;
}

/* --- --- --- 2.3 Top Nav --- --- ---*/

.nav-logo {
    max-width: 40%;
    padding: 30px 50px;
}
.nav-float {
    float: right;
    padding: 50px;
}
.main-nav {
    display: inline-block;
}
.secondary-nav {
    display: inline-block;
}
.main-nav li {
    display: inline-block;
}
.main-nav li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    padding: 7px;
}
.main-nav li a:hover {
    color: #ddd;
}
.nav-btn {
    color: #b88d2d;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    border: 1px solid #b88d2d;
    padding: 5px 10px;
    margin-left: 30px;
}
.nav-btn:hover {
    color: #ecb230;
    border: 1px solid #ecb230;
}
.mobile-nav {
    display: none;
}
.mobile-nav a {
    color: #b88d2d;
    font-size: 15px;
}
.mobile-nav a:hover {
    color: #fff;
}
.fa {
    font-size: 20px !important;
}

/* --------- --- --- 3.0 Media Queries --- --- --------- */

/* --- --- --- 3.1 Large Laptops --- --- --- */

@media screen and (max-width: 1440px) and (min-width: 1025){
    .image-box {
        max-width: 16.9vw;
    }
}

/* --- --- --- 3.2 Small Laptops/Large Tablets --- --- --- */

 @media screen and (max-width: 1024px) and (min-width: 769px){
    .logo-container {
        max-width: 50%;
    }
    .hero-row {
        padding: 70px;
    }
    .center-container {
        max-width: 70%;
    }
    .gold-button {
        max-width: 35%;
    }
    .image-box {
        max-width: 16.9vw;
    }
    .schedule-header {
        font-size: 17px;
    }
    .schedule-subtitle {
        font-size: 12px;
    }
 }

/* --- --- --- 3.3 Tablets --- --- --- */

@media screen and (max-width: 768px) and (min-width: 426px){
    .logo-container {
        max-width: 45%;
    }
    .nav-logo {
        max-width: 55%;
    }
    .nav-float {
        padding: 45px 15px;
        max-width: 50%;
    }
    .hero-logo {
        padding: 40vh;
    }
    .hero-row {
        padding: 70px 25px;
    }
    .center-container {
        max-width: 90%;
    }
    .image-box {
        max-width: 17.77vw;
    }
    .schedule-header {
        font-size: 16px;
    }
    .schedule-subtitle {
        font-size: 12px;
    }
    .schedule-content-container {
        padding: 50px 0px 50px 100px;
    }
    .footer-container .white-header {
        font-size: 20px;
    }
}

/* --- --- --- 3.4 Large Phones --- --- --- */

@media screen and (max-width: 425px) and (min-width: 376px) {
    .main-nav, .secondary-nav {
        display: none;
    }
    .mobile-nav {
        float: right;
        display: block;
    }
    .logo-container {
        max-width: 70%;
    }
    .nav-logo {
        max-width: 65%;
    }
    .nav-float {
        padding: 45px 25px;
    }
    .hero-logo {
        padding: 38vh;
    }
    .hero-row {
        padding: 50px 15px;
    }
    .hero-left, .hero-right {
        display: block;
        float: none;
    }
    .hero-heading {
        font-size: 20px;
        margin: 0px;
        text-align: center;
    }
    .hero-subtitle {
        font-size: 15px;
        text-align: center;
    }
    .hero-right ul {
        display: block;
        padding-top: 5px;
        margin-bottom: 0px;
        text-align: center;
    }
    .hero-hash {
        display: block;
        text-align: center;
        margin: 0px;
    }
    .center-container {
        max-width: 75%;
    }
    .gold-button {
        max-width: 50%;
    }
    .speakers-container {
        margin-bottom: 0px;
    }
    .image-box {
        display: block;
        max-width: 100%;
    }
    .speaker-overlay {
        min-height: 135vh;
    }
    .main-content {
        padding: 10%;
    }
    .schedule-tabs {
        padding-bottom: 2px;
    }
    .schedule-item {
        display: block;
        border: 2px solid #272727;
    }
    .schedule-header {
        font-size: 18px;
    }
    .schedule-subtitle {
        font-size: 13px;
    }
    .schedule-content-container {
        padding: 50px 0px 50px 15px;
    }
    .col-3 {
        display: block;
    }
    .registration-img {
        padding: 50px 0px;
    }
    .footer-container .white-header {
        font-size: 12px;
    }
}

/* --- --- --- 3.5 Standard Phones --- --- --- */

@media screen and (max-width: 375px) and (min-width: 321px) {
    .main-nav, .secondary-nav {
        display: none;
    }
    .mobile-nav {
        float: right;
        display: block;
    }
    .logo-container {
        max-width: 70%;
    }
    .nav-logo {
        max-width: 65%;
        padding: 30px 15px;
    }
    .nav-float {
        padding: 45px 25px;
    }
    .hero-logo {
        padding: 33vh;
    }
    .hero-row {
        padding: 50px 15px;
    }
    .hero-left, .hero-right {
        display: block;
        float: none;
    }
    .hero-heading {
        font-size: 20px;
        margin: 0px;
        text-align: center;
    }
    .hero-subtitle {
        font-size: 15px;
        text-align: center;
    }
    .hero-right ul {
        display: block;
        padding-top: 5px;
        margin-bottom: 0px;
        text-align: center;
    }
    .hero-hash {
        display: block;
        text-align: center;
        margin: 0px;
    }
    .center-container {
        max-width: 75%;
    }
    .gold-button {
        max-width: 50%;
    }
    .speakers-container {
        margin-bottom: 0px;
    }
    .image-box {
        display: block;
        max-width: 100%;
    }
    .speaker-overlay {
        min-height: 135vh;
    }
    .main-content {
        padding: 10%;
    }
    .schedule-tabs {
        padding-bottom: 2px;
    }
    .schedule-item {
        display: block;
        border: 2px solid #272727;
    }
    .schedule-header {
        font-size: 18px;
    }
    .schedule-subtitle {
        font-size: 13px;
    }
    .schedule-content-container {
        padding: 50px 0px 50px 15px;
    }
    .col-3 {
        display: block;
    }
    .registration-img {
        padding: 50px 0px;
    }
    .footer-container .white-header {
        font-size: 12px;
        padding: 50px 40px;
    }
}

/* --- --- --- 3.6 Small Phones --- --- --- */

@media only screen and (max-width: 320px) {
    .main-nav, .secondary-nav {
        display: none;
    }
    .mobile-nav {
        float: right;
        display: block;
    }
    .logo-container {
        max-width: 70%;
    }
    .nav-logo {
        max-width: 65%;
        padding: 30px 15px;
    }
    .nav-float {
        padding: 40px 25px;
    }
    .hero-logo {
        padding: 29vh;
    }
    .hero-row {
        padding: 50px 15px;
    }
    .hero-left, .hero-right {
        display: block;
        float: none;
    }
    .hero-heading {
        font-size: 20px;
        margin: 0px;
        text-align: center;
    }
    .hero-subtitle {
        font-size: 15px;
        text-align: center;
    }
    .hero-right ul {
        display: block;
        padding-top: 5px;
        margin-bottom: 0px;
        text-align: center;
    }
    .hero-hash {
        display: block;
        text-align: center;
        margin: 0px;
    }
    .center-container {
        max-width: 75%;
    }
    .gold-button {
        max-width: 70%;
    }
    .speakers-container {
        margin-bottom: 0px;
    }
    .image-box {
        display: block;
        max-width: 100%;
    }
    .speaker-overlay {
        min-height: 135vh;
    }
    .main-content {
        padding: 10%;
    }
    .schedule-tabs {
        padding-bottom: 2px;
    }
    .schedule-item {
        display: block;
        border: 2px solid #272727;
    }
    .schedule-header {
        font-size: 18px;
    }
    .schedule-subtitle {
        font-size: 13px;
    }
    .schedule-content-container {
        padding: 50px 5px 50px 15px;
    }
    .white-header {
        padding: 15px;
    }
    .col-3 {
        display: block;
    }
    .registration-img {
        padding: 50px 0px;
    }
    .footer-container .white-header {
        font-size: 12px;
        padding: 50px 40px;
    }
}


/* --- --- --- End of Style --- --- --- */
