/**
*
* This document contains the main styles for the For The Church National Conference Landing Page.
*
/*
Name: For The Church National Conference
Author: Tim Stone
Author URI: http://tjstone.me
Description: This theme is developed for the 2019 landing page for the afformentioned conference.
Version: 1.0
License: Private use
Text Domain: For The Church
*
*/

/* --------- Contents --------- */

/*
*
* - 1.0 Text Formatting
* - - 1.1 Main text styles
* - 2.0 Div Formatting
* - - 2.1 Main Div styles
* - - 2.2 Spacers
* - - 2.3 Containers
* - - 2.4 Top Nav
* - 3.0 Media Queries
* - - 3.1 Small displays
* - - 3.2 Tablets
* - - 3.3 Large phones
* - - 3.4 Standard phones
* - - 3.5 Small phones
*
*/

/* --------- --- --- 1.0 Text Formatting --- --- --------- */

/* --- --- --- 1.1 Main Text Styles --- --- ---*/
